body,
h1,
h2,
ul,
li,
p,
dd,
dt,
dl {
	margin: 0px;
	padding: 0px;
}

img {
	display: block;
	max-width: 100%;
}

ul {
	list-style: none;
}

body {
	color: #222;
	-webkit-font-smoothing: antialiased;
	height: 100vh;
	background-color: var(--neutral-0);
}

* {
	box-sizing: border-box;
	font-family: "DM Sans";
}
