:root {
	--primary-pink: #ff8098;
	--secondary-pink: #ffadc6;
	--tertiary-pink: #ffd6e3;
	--quaternary-pink: #ffebf1;
	--quaternary-pink-transparent: #ffebf159;
	--neutral-100: #f4f4f4;
	--neutral-0: #ffff;
}
